name: Pre-commit

on:
  pull_request:

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
    - name: Install dependencies
      run: npm ci
      env:
        FORT_AWESOME_TOKEN: ${{ secrets.FORT_AWESOME_TOKEN }}
    - uses: pre-commit/action@v3.0.1
